#title{
    text-align: center;
    background-color: grey;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}  
.firstRow{
    background-color: rgb(234, 235, 236);
}
#searchButton{
    background-color: rgb(207, 227, 240);
}
#citySummary{
    border-style: ridge;
    border-width: 1px;
    margin-left: auto;
    
}
.forecast{
    border-style: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgb(46, 169, 214);
    margin-left: 15px;
    color: white;
    padding-top: 15px;

}
body{
    margin-left: 20px;
    margin-right: 20px;
}





